@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
box-sizing: border-box;
}

body{
    margin: 0;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    background: #eaeff4;
}
body {
    background-image: url("STU.jpg");
    background-color: #9cc0ff;
    background-repeat: no-repeat;
    background-size:100%;
   }
   .container{
    position: relative;
    width: 100%;
    max-width: 700px;
    height: auto;
    display: flex;
    background:#ffffff;
    box-shadow: 0 0 5px #999999;
    }

    .container .stu-form{
        position: relative;
        width: 100%;
        }
 